# Configuración de PostgreSQL
POSTGRES_USER=bcn_user
POSTGRES_PASSWORD=bcn_password # CAMBIAR
POSTGRES_DB=bcn_normas
POSTGRES_PORT=5432

# Configuración de la aplicación Python
LOG_LEVEL=INFO
XML_STORAGE_PATH=./data/xml

BCN_RATE_LIMIT=1.0
BCN_MAX_RETRIES=3
BCN_CACHE_DIR=data/cache

# Cors
# Varios orígenes separados por coma
CORS_ORIGINS=http://localhost:3000,https://tudominio.com